<body>
    <div>
        <h5>Apakah Anda yakin akan menghapus koleksi buku ini:</h5>
        <div class="col-md-12">
            <label for="title" class="form-label">Book Title</label>
            <div class="input-group">
                <span class="input-group-text" id="idPlace"></span>
                <input type="text" class="form-control" disabled="true" id="title" required>
            </div>
        </div>
        <div class="col-md-8">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" disabled="true" id="author" required>
        </div>
        <div class="col-md-4">
            <label for="publishYear" class="form-label">Publish Year</label>
            <input type="text" class="form-control" disabled="true" id="publishYear" required>
        </div>
        <div class="col-md-12">
            <label for="publisher" class="form-label">Publisher</label>
            <input type="text" class="form-control" disabled="true" id="publisher" required>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-secondary" id="cancelbtn">Cancel</button>&nbsp;
        <button class="btn btn-primary" id="deletebtn" type="submit">Delete</button>
    </div>
</body>
<script type="text/JavaScript" src="/javascript/manage.js"></script>